.contenedor{
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples filas */
  justify-content:center; /* Distribuye las tarjetas de manera uniforme en el contenedor */
  align-items: center; /* Alinea las tarjetas en la parte superior del contenedor */
  width: calc(100vw - 220px); /* Ajusta el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

h2{
  text-align: center;
  margin-top: 10px;
}
.formulario {
  width: 400px;
  padding: 20px;
  background-color: #F4F9FF;
  border-radius: 5px;
}

.formulario label {
  display: block;
  margin-bottom: 5px;
}

.formulario input,
.formulario textarea,
.formulario select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.formulario button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario button[type="reset"] {
  background-color: #ff5252;
  margin-left: 10px;
}
